flows.json
[{"id":"3f124e16.a4f622","label":"new package","type":"tab"},{"id":"72e84bd5.616934","type":"sensingkit","z":"3f124e16.a4f622","name":"","subtype":"audio-level","x":149,"y":406,"wires":[["d672ed31.0d58e","c70f077c.4d0418","556523ad.c74a1c"]]},{"id":"d672ed31.0d58e","type":"dbfunction","z":"3f124e16.a4f622","name":"","func":"const state = context.get(\"state\") || \"on\";\ncontext.set(\"state\", state===\"on\" ? \"off\" : \"on\");\n\nif (msg.payload.value > 5000){\n    return {\n        type: \"set-bulb-on\",\n        payload: state,\n    }\n}","outputs":1,"inputtypedef":"","outputtypedef":"","noerr":0,"x":301,"y":494,"wires":[["de9452a7.b3516","1a8bc3dd.6df3ec"]]},{"id":"de9452a7.b3516","type":"bulbsout","z":"3f124e16.a4f622","name":"","subtype":"set-bulb-on","value":"","x":490,"y":449,"wires":[]},{"id":"c70f077c.4d0418","type":"chartify","z":"3f124e16.a4f622","name":"","title":"","chart":"gauge","xlabel":"","ylabel":"","min":"","max":"","labels":"","maxreadings":"","ticks":"","xtype":[{"source":"sensingkit","name":"value","type":"number"}],"ytype":[],"subtype":"bar","x":414,"y":233,"wires":[["46f58a41.743ae4"]]},{"id":"46f58a41.743ae4","type":"app","z":"3f124e16.a4f622","name":"","appId":"webapp","layout":[["f5ba0ba1.f93f68"],["c70f077c.4d0418"]],"x":595,"y":325,"wires":[]},{"id":"556523ad.c74a1c","type":"dbfunction","z":"3f124e16.a4f622","name":"","func":"var max = Math.max(context.get(\"max\")||0, msg.payload.value);\ncontext.set(\"max\", max);\n\nreturn {\n    payload : max\n}\n","outputs":1,"inputtypedef":"","outputtypedef":"","noerr":0,"x":306,"y":383,"wires":[["f5ba0ba1.f93f68"]]},{"id":"f5ba0ba1.f93f68","type":"webify","z":"3f124e16.a4f622","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","x":439,"y":382,"wires":[["46f58a41.743ae4"]]},{"id":"1a8bc3dd.6df3ec","type":"debugger","z":"3f124e16.a4f622","name":"","active":true,"console":"false","complete":"false","x":486,"y":599,"wires":[]}]